.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.Dashboard {
  padding: 4px;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "settings sinewavelive"
    "settings sinewave"
}

.Dashboard > div {
  padding: 4px;
}

.Settings {
  grid-area: settings;
}
.SineWaveLive {
  grid-area: sinewavelive;
}
.SineWave {
  grid-area: sinewave;
}
.Network {
  grid-area: network;
}
